
/* IMPORTANDO FONTS DO GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




/* CORPO */

body {
    display: grid;
    box-sizing: border-box; /*Elemento Nao Sobrepoem o Outro */
    margin: 0;
    padding: 0;
    height: 100vh;
    background-repeat: repeat;
    background: linear-gradient( #182848 22%, #2d225d 50%, #4b6cb7 75%, #182848 100%);  /*Faz uma Transição de Cores e Especifica com to bottom para onde Sera (Cima Para Baixo)*/
    font-family: "Poppins";
}

li , a , button {
    font-size: 18px;
    color: white;
    text-decoration: none; 
}

header{
    display: flex;
    justify-content: space-between; /*Espaço Entre os Elementos*/
    align-items: center; /*Alinhados Na Vertical*/
    margin: 0;
    padding: 9px 25px;
    background-color: #202020;

}

div.games {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha */
    justify-content: center;  /* Centraliza os itens horizontalmente */
    padding: 4px ;
    margin: 30px;
    text-decoration: none;
    text-align: center;
    color: white;
    justify-content: space-evenly;
}

div.games img{
    max-width: 300px; 
    max-height: 300px; 
    width: 300px;
    height: 300px;
    margin: 10;
    padding: 10;
}

.game-bar button{
    display: block;
    padding: 14px;
    margin: 0px;
    background-color: #131212;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-bar p{
    font-size: 22px;
}

.game-bar button:hover{
    background-color: #272674;
    padding: auto;
    
}

.game-bar button:hover:before {
    content: '🛒 ';
    display: inline;
    color: white; 
    font-size: 20px;
}



/* NAVBAR */

.logotipo img {
    width: 84px;  
    height: auto;  
    border-radius: 70%; /*Torna a Imagem um circulo*/
}

.nav-links{
    list-style: none; /*Sem Estilização Sem As Bolinhas do <LI></LI>*/
}


.nav-links li{
    align-items: center;
    display: inline-block;  /*Por padrao li sao block , sempre quebram a linha apos um novo li adicionado , isso remove essa quebra de linha*/
    padding: 0px 20px;  /*0px EM CIMA E BAIXO , 20px Direita e Esquerda*/
}


.nav-links li a:hover{
    color: rgb(59, 59, 138);
}

button {
    padding: 10px 20px;  /* Direita Esquerda 10px , Cima E Baixo 20px */
    background-color: rgb(70, 70, 187);
    border: none;  
    border-radius: 60px;  /*Arredonda por Inteiro o Button */
    cursor: pointer;  /*Efeito da Maozinha do Mouse*/
    transition: all 0.4s;
}

button:hover{
    
    background-color: rgb(56, 56, 190);
  
}


/* RODAPE */

/*Declarando Variavel*/
:root {
    --color-neutral-0: #0e0c0c; 
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;  
    --color-neutral-40: #f5f5f5;  
}

.footer {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    letter-spacing: 1px;
    width: 80%;
    color: var(--color-neutral-40);
    
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*Divide Em Quatro Colunas*/
    padding: 3rem 3.5rem;
    gap: 1rem; /* Adicionado espaço entre as colunas */
}


.footer_subscribe{
    color: var(--color-neutral-40);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer_subscribe p{
    color: var(--color-neutral-30);
    
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
    color: var(--color-neutral-40);
}

#footer_social_midia {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_midia .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.2s;
}

#footer_social_midia .footer-link:hover{
    opacity: 20;
}


#instagram {
    background: linear-gradient(#7f37c9 , #ff2992 , #ff9807);
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}


.footer-list .footer-link{
    color: var(--color-neutral-30);
    transition: all 0.2s;
}


.footer-list .footer-link:hover{
    color: #7f37c9;
}

#footer_copyright{
    color: var(--color-neutral-40);
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}


/*Deixa Tela Responsiva*/

@media(max-width : 800px){ /*Enquanto ele tiver ate 800px SobreEscrever a formatação :*/
    li , a , button {
        font-size: 20px;
        
    }
    .logotipo img {
        width: 68px;  
    }

    div.games img{
        max-width: 200px; 
        max-height: 200px; 
        width: 200px;
        height: 200px;
    }

    .nav-links li{
        align-items: center;
        display: inline-block; 
        padding: 0px 10px; 
    }

    div.games {
        display: flex;
        flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha */
        justify-content: center;  /* Centraliza os itens horizontalmente */
        padding: 4px ;
        margin: 30px;
        text-decoration: none;
        text-align: center;
        color: white;
        justify-content: space-evenly;
    }

    .game-bar button{
        display: block;
        padding: 14px;
        margin: 0px;
        background-color: #131212;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #footer_content {
        grid-template-columns: 1fr; /* Coloca todos os itens em uma coluna */
        padding: 2rem 1rem; /* Ajusta o padding do footer */
    }

    #footer_social_midia {
        flex-direction: row; /* Mantenha as mídias sociais em linha */
        justify-content: space-around; /* Espaço igual entre ícones */
        margin-top: 1rem; /* Ajusta a margem superior */
    }
    
}


@media(max-width : 430px){ /*Enquanto ele tiver ate 800px SobreEscrever a formatação :*/
    li , a , button {
        font-size: 20px;

        
    }
    .logotipo img {
        width: 55px;  
    }

    div.games img{
        max-width: 200px; 
        max-height: 200px; 
        width: 200px;
        height: 200px;
    }

    .nav-links li{
        align-items: center;
        display: inline-block; 
        padding: 0px 10px; 
    }

    div.games {
        display: flex;
        flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha */
        justify-content: center;  /* Centraliza os itens horizontalmente */
        padding: 4px ;
        margin: 30px;
        text-decoration: none;
        text-align: center;
        color: white;
        justify-content: space-evenly;
    }

    #footer_content {
        grid-template-columns: 1fr; /* Coloca todos os itens em uma coluna */
        padding: 2rem 1rem; /* Ajusta o padding do footer */
    }

    #footer_social_midia {
        flex-direction: row; /* Mantenha as mídias sociais em linha */
        justify-content: space-around; /* Espaço igual entre ícones */
        margin-top: 1rem; /* Ajusta a margem superior */
    }
    
}